ollama==0.3.3
speechrecognition==3.10.0
setuptools==75.6.0
pyttsx3==2.98
pygame==2.5.2
psutil==6.0.0
pycaw==20210630
comtypes==1.2.0
keyboard==0.13.5
spotify_local==0.3.5
youtube-search-python==1.1.2
wikipedia==1.4.0
requests==2.26.0
beautifulsoup4==4.10.0
opencv-python==4.5.3.20210927
numpy==1.24.0
pynput==1.7.3
apscheduler==3.10.1
logging==0.5.1.2
difflib==4.0.1
shutil==1.7.0
vosk==0.3.45
wheel==0.45.1
sounddevice==0.5.0